/* 
 *  Custom Utilities classes
 *
 */

@layer utilities {

  /* .font-display-lg {
    @apply text-4xl md:text-5xl
  } */

  .font-condensed {
    font-stretch: 92.5%;
  }

  .font-stretch-none {
    font-stretch: 100%;
  }

  .small-caps {
    font-variant-caps: small-caps;
  }

  .all-small-caps {
    font-variant-caps: all-small-caps;
  }
}
