<!DOCTYPE html>
<html class="" lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{ .Title }}</title>
  <!-- <meta name="description" content="" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- TODO: populate the meta tags per page
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" /> -->

  <!-- TODO: Place favicon.ico in the root directory -->

  <!-- <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
    crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap"
    rel="stylesheet" />
  {{ $styles := resources.Get "style.scss" | toCSS }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" type="text/css" />

</head>

<body>
  <div class="page-top">
    <div class="container">
      <header class="">
        <nav class="">
          <a class="navitem wordmark" href="/" title="Home">Tom Arney</a>
          <a class="navitem navlink" href="/bio" title="Biography">Bio</a>
          <a class="navitem navlink" href="/posts" title="Blog posts">Posts</a>
          <a class="navitem navlink" href="/projects" title="Past and current work">Projects</a>
          <!-- <a class="navitem navlink" href="/publications" title="Published work">Publications</a> -->
          <a class="navitem navlink" href="/contact" title="Contact me">Contact</a>
        </nav>
      </header>
    </div> <!-- END .page -->
  </div>

  <main>
    {{ block "main" . }}
    {{ end }}
  </main>



  <footer class="site-footer">
    <div class="cf container">
      <div class="fl w-100 w-auto-ns">
        <a class="mh2" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
          <img alt="Creative Commons License" style="border-width: 0"
            src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
        </a>
      </div>
      <div class="fl w-100 w-auto-ns">
        <p>
          &copy; Thomas Arney {{ now.Format "2006" }}.<br />
          Unless otherwise noted, text on this site is licensed under a
          <a class="link hover-white white-80" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license"
            title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License">CC-BY-NC-SA 4.0
            license.</a>
        </p>
      </div>
    </div>
  </footer>
</body>

</html>