{{ define "main" }}
<div class="container">

  <div class="md">
    {{ .Content }}
  </div>


  <ul class="unlist">
    {{ range first 10 (where (where .Site.RegularPages "Section" "posts") ".File.Ext" "md") }}
    <li>
      <div class="media">
        <div>
          <a href="{{ .Permalink }}">
            <h3>{{ .Title }}</h3>
          </a>
          <p>{{ .Summary }}</p>
        </div>
        <div>
          <img src="{{ .Params.MainImg.Src }}" alt=" .Params.MainImg.Alt " />
        </div>
      </div>
      <p>By <span>Tom Arney</span></p>
      <time>{{ .Date.Format "2 Jan 2006" }}</time>
    </li>
    <a href="/posts" class="button">more ></a>
    {{ end }}
</div>

{{ end }}