{{ define "main" }}

<div class="page-bottom">
  <div class="container">

    <header>
      <h1>{{ .Title }}</h1>
      <p>{{ .Params.Subtitle }}</p>
    </header>

    <figure>
      <img src="{{ .Params.MainImg.Src }}" alt="{{ .Params.MainImg.Alt }}">
      <figcaption>{{ .Params.MainImg.Caption }}</figcaption>
    </figure>

    {{ .Content }}

  </div>

</div>

<div class="page">
  <div class="container">

    <h1>More like this:</h1>

    <ul class="tags">
      {{ range .Params.tags }}
      <li><a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>

  </div>
</div>

{{ end }}