// ===============
//  FOOTER
// ===============

 .site-footer {
  background: $bg-color--alt;
  color: $text-color--alt;
  padding-top: 60px;
  padding-bottom: 80px;
  margin-top: 6rem;
}

.copyright-notice {
  padding-top: 40px;
}
