// ===============
//  LAYOUT
// ===============

html {
  background: $bg-color--more-alt;
}

body {
  background-color: $bg-color;
}

.container {
  max-width: 32rem;
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: $bp-large) {
    max-width: 36rem;
  }

  &--wide {
    @extend .container;
    max-width: 42rem;
  }
}

img {
  max-width: 100%;
}

figure {
  margin: 2rem 0;
}

figcaption {
  font-size: 0.8rem;
  text-align: center;
  color: #666;

  .img-credit {
    font-size: 0.8em;
  }
}

 .post-info {
  display: block;
  margin-bottom: 2.5rem;
  color: #777777;
}

hr {
  border: none;
  border-bottom: 0.5px solid black;
  margin: 2em 0;

  &.thin {
    margin: 1em 0;
  }

}

.md {
  img {
    max-width: 100%;

    &.float-right {
      float: right;
      margin-left: 0.7em;
    }

    &.float-left {
      float: left;
      margin: .7em 1em;
      margin-left: 0;
    }
  }
}