
// ===============
//  COLOURS
// ===============

$accent-color:       #800020;
$accent-color--alt:  #fffdfa;
$bg-color:           #fffdfa;
$bg-color--alt:         scale-color($accent-color, $lightness: -50%);
$bg-color--more-alt:    scale-color($accent-color, $lightness: -80%);
$text-color--alt:       scale-color($bg-color, $lightness: -10%);
$text-color---more-alt: scale-color($bg-color, $lightness: -30%, $saturation: -70%);


// ===============
//  BREAKPOINTS
// ===============

$bp-small: 520px;
$bp-mid:   768px;
$bp-large: 1024px;



@import "modules/layout",
        "modules/typography",
        "modules/nav",
        "modules/footer",
        "modules/utils";
