---
import Page from "../layouts/Page.astro";

import { Picture } from "astro:assets";

const description = 'Tom Arney is a palaeoceanography PhD student at the National Oceanography Centre, University of Southampton, and the British Antarctic Survey.'
import portrait from '../assets/img/rockies-portrait.jpg'
---

<Page title="Homepage | Tom Arney" description={description}>
	<main class="prose">
		<Picture src={portrait} alt="a photo of Tom Arney, with the snow-covered Canadian Rockies mountains in the background" class="float-left w-1/3 mr-2 mb-2"/>

		<p>I’m both a geologist and an oceanographer. I go to sea on research ships for weeks or months at a time, drilling into the seafloor to collect rocks and sediments.</p>
		<p>I use these materials to investigate whether the ice sheet that covers West Antarctica has disappeared in the last few million years. If it has, the effects of climate change mean it might be at risk of collapsing again, raising global sea levels by up to 5 metres – and inundating coastal cities including New York, Shanghai, and Mumbai.</p>
		<a href=/science class=point-right-out>Read more about my work</a>
		<p>Read on for articles explaining the science behind my research, and posts telling stories about what it&rsquo;s like to be an Antarctic researcher, a sea-going oceanographer, or a hammer-wielding geologist!</p>
	</main>
</Page>
