
.source-serif-pro {
  font-family: 'Source Serif Pro', georgia, times, serif;
}

.flex-grow-0 { flex-grow: 0; }
.flex-grow-1 { flex-grow: 1; }
.flex-grow-2 { flex-grow: 2; }
.flex-grow-3 { flex-grow: 3; }
.flex-grow-4 { flex-grow: 4; }

body {

  a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-decoration-color: red;
    }
  }
}
