---
import Page from "../../layouts/Page.astro";
import PubsLister from "../../components/PubsLister.astro";
---

<Page title="Tom Arney's publications" description="A list of my published work and talks I've given at conferences.">
  <main> 

    <h1>Publications</h1>

    <p>
      I am currently writing up my <a href="/posts/my-phd-project">PhD research</a>, with a few papers in the pipeline. I've also presented my work at various conferences &ndash; talks are shown below.
    </p>

    <section>

      <h2>Articles</h2>

      <PubsLister typeFilter="Article"/>

      <h2>Talks</h2>

      <PubsLister typeFilter="Talk"/>
    
    </section>

  </main>
</Page>
