---
import Page from "../../layouts/Page.astro";
import PubsLister from "../../components/PubsLister.astro";
---

<Page>
  <main> 

    <h1>Publications</h1>

    <p>
      I am currently working on my PhD project, which I've tried to summarise <a href="/posts/my-phd-project">here</a>. Publications coming soon!
    </p>

    <section>

      <h2>Articles</h2>

      <PubsLister collectionName="publications" typeFilter="Article"/>

      <h2>Talks</h2>

      <PubsLister collectionName="publications" typeFilter="Talk"/>
    
    </section>

  </main>
</Page>
