---
import InfoBox from "./InfoBox.astro";
---

<InfoBox>
  <details>
    <summary class="text-xl">
      <h2 class="inline-block my-4 ">Abstract</span>
    </summary>
    <slot />
  </details>
</InfoBox>
