---
import NavLink from './NavLink.astro';
---

<nav>
	<a href="/" class="w-full text-burgundy-500 text-4xl font-light semicondensed optical-size-9xl">Tom Arney</a>
	<ul class="flex flex-wrap space-x-4 mt-4 group">
		<NavLink href="/bio">Bio</NavLink>
		<NavLink href="/publications">Publications</NavLink>
		<NavLink href="/posts">Posts</NavLink>
		<NavLink href="/contact">Contact</NavLink>
	</ul>
</nav>
