---
const { href } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<li>
	<a
		href={href}
		class={`semicondensed font-light text-lg ${
			isActive
				? "grade-100"
				: "hover:grade-100"
		} `}
	>
		<slot />
	</a>
</li>
