---
const { href } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<li>
	<a
		href={href}
		class={`font-light text-lg decoration-burgundy-500 ${
			isActive
				? "font-medium"
				: "hover:underline"
		} `}
	>
		<slot />
	</a>
</li>
