---
const { href } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<li>
	<a
		href={href}
		class={`${
			isActive
				? "font-semibold font-condensed group-hover:font-normal group-hover:font-stretch-none"
				: "hover:font-semibold hover:font-condensed"
		} `}
	>
		<slot />
	</a>
</li>
