---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";
import FooterLink from "../components/FooterLink.astro";

const today = new Date();
const {
  title = Astro.props.frontmatter?.title || SITE_TITLE,
  description = Astro.props.frontmatter?.description || SITE_DESCRIPTION,
  noindex = false,
} = Astro.props;
---

<!doctype html>
<html lang="en-GB" class="bg-burgundy-100">
  <head>
    <BaseHead title={title} description={description} noindex={noindex} />
  </head>

  <body class="bg-white">

    <div class="max-w-2xl lg:max-w-3xl xl:max-w-4xl mx-auto">
      <div class="max-w-2xl px-5 print:max-w-none">

        <header class="pt-12 pb-4 mb-16 border-b border-burgundy-100">
          <Nav />
        </header>

        <div class="prose max-w-2xl prose-stone prose-a:decoration-1 hover:prose-a:decoration-2 prose-a:decoration-burgundy-500 prose-a:font-normal hover:prose-a:font-medium prose-headings:font-normal prose-h1:text-[1.7rem] prose-strong:font-medium lining-nums">
          <slot />
        </div>
      
      </div>
    </div>

    <footer class="bg-burgundy-200 text-buff-100 mt-24 border-t border-burgundy-100">
      <div class="max-w-2xl lg:max-w-3xl xl:max-w-4xl mx-auto">
        <div class="max-w-2xl px-5 print:max-w-none py-12 print:hidden">
          <p>tomarney.com<br />
            <FooterLink href="/privacy">Privacy</FooterLink> |
            <FooterLink href="/about-this-site">About this site</FooterLink>
          </p>
          <p class="mt-6">
            Elsewhere on the interwebs<br />
            <FooterLink href="https://orcid.org/0000-0003-4380-4079">ORCiD</FooterLink>
              |
            <FooterLink href="https://www.southampton.ac.uk/people/5xv9zb">UoS profile</FooterLink>
              |
            <FooterLink href="https://www.linkedin.com/in/tomarney/">LinkedIn</FooterLink>
              |
            <FooterLink href="https://www.researchgate.net/profile/Thomas-Arney">ResearchGate</FooterLink>
              |
            <a rel="me" class="text-buff-200 hover:text-buff-500" href="https://fediscience.org/@tomarney">
              Mastodon
            </a>
              |
            <FooterLink href="https://github.com/tomarney">GitHub</FooterLink>
              |
            <FooterLink href="mailto:t.arney@soton.ac.uk">email</FooterLink>
          </p>
        </div>
      </div>

      <div class="bg-burgundy-100 py-5">
        <div class="max-w-2xl lg:max-w-3xl xl:max-w-4xl mx-auto">
          <div class="max-w-3xl px-5 print:max-w-none">
            <p class="text-xs print:text-black">
              &copy; Thomas Arney {today.getFullYear()}. Unless otherwise noted, text on this site is licensed under a
              <a class="text-buff-200 hover:text-buff-500 print:text-black"
                 href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
                 rel="license"
                 title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License">
                CC&#8209;BY&#8209;NC&#8209;SA&nbsp;4.0&nbsp;licence</a>.
            </p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
