---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";

const today = new Date();
const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en-GB" class="bg-burgundy-100">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="font-serif bg-buff-500">
    <div class="max-w-xl mx-auto px-5 print:max-w-none">
      <header class="pt-12 pb-4 mb-12 border-b border-burgundy-100">
        <Nav />
      </header>



      <div class="prose">
        <slot />
      </div>
    
    
    
    </div>

    <footer class="bg-burgundy-200 text-buff-100 mt-24 border-t border-burgundy-100">
      <div class="max-w-xl mx-auto px-5 print:max-w-none py-12 print:hidden">
        <p> tomarney.com<br />
          <a href="/privacy" class="text-buff-200 hover:text-buff-500">
            Privacy
          </a> |
          <a href="/about-this-site" class="text-buff-200 hover:text-buff-500">
            About this site
          </a>
        </p>

        <p class="mt-6">
          Elsewhere on the interwebs<br />
          <a class="text-buff-200 hover:text-buff-500" href="https://orcid.org/0000-0003-4380-4079">
            ORCiD
          </a>
            |
          <a class="text-buff-200 hover:text-buff-500" href="https://www.southampton.ac.uk/people/5xv9zb/mr-thomas-arney">
            UoS profile
          </a>
            |
          <a class="text-buff-200 hover:text-buff-500" href="https://www.linkedin.com/in/tomarney/">
            LinkedIn
          </a>
            |
          <a rel="me" class="text-buff-200 hover:text-buff-500" href="https://fediscience.org/@tomarney">
            Mastodon
          </a>
            |
          <a class="text-buff-200 hover:text-buff-500" href="https://github.com/tomarney">
            GitHub
          </a>
            |
          <a class="text-buff-200 hover:text-buff-500" href="mailto:t.arney@soton.ac.uk">
            email
          </a>
        </p>
      </div>

      <div class="bg-burgundy-100 py-5">
        <div class="max-w-xl mx-auto px-5 print:max-w-none">
          <p class="text-xs text-center print:text-black">
            &copy; Thomas Arney {today.getFullYear()}. Unless otherwise noted, text on this site is licensed under a
            <a class="text-buff-200 hover:text-buff-500 print:text-black"
               href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
               rel="license"
               title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License">
              CC&#8209;BY&#8209;NC&#8209;SA&nbsp;4.0&nbsp;licence
            </a>.
          </p>
        </div>
      </div>
    </footer>

    <!-- <script data-goatcounter="https://tomarney.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->
  </body>
</html>
